<% include("../layouts/header.ejs")%>
    <h1>Admin Dashboard</h1>
    <h2>Welcome, <%= admin.name%>
    </h2>
    <a href="/admin/profile">My Profile</a>
    <br><br>

    <div>
        <a href=" /admin/logout">Logout</a>
    </div>

    <!-- Add your admin functionality here -->

    <% include("../layouts/footer.ejs")%>